<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
  <a class="navbar-brand" href="/">Archaeology Headliner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-content">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/saved-articles">Saved Articles</a>
      </li>
    </ul>
    <button id="scrape" class="btn btn-primary" type="button">Scrape New Articles</button>
    <button id="clear-articles" class="btn btn-secondary ml-md-2" type="button">Clear Articles</button>
  </div>
</nav>