<header class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Headliner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <form id="scrape" class="form-inline" method="POST" action="/api/article/scrape">
          <button class="btn btn-primary" type="submit">Scrape New Articles</button>
        </form>
      </div>
    </nav>
  </div>
</header>