<div class="container">
  {{> navbar }}

  <div class="row">
    {{#each articles as |article|}}
      <div class="col-md-6 pb-4">
        <div class="card h-100">
          <div class="card-body">
            <a href="{{article.link}}"><h2 class="card-title">{{article.title}}</h2></a>
            <p class="card-text">{{article.summary}}</p>
            <button class="btn btn-primary save-button" type="button" data-article-id="{{article._id}}">Save</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>