<div class="container">
  {{> navbar }}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Howdy!</h5>
        </div>
      </div>
    </div>
  </div>
</div>